.p12 {
  font-size: 12px;
  text-align: center;
}

.p14 {
  font-size: 14px;
  text-align: center;
}

.p16 {
  font-size: 16px;
  text-align: center;
}

.p18 {
  font-size: 18px;
  text-align: center;
}

.p20 {
  font-size: 20px;
  text-align: center;
}

.p22 {
  font-size: 22px;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.grey {
  color: #c5c5c5;
}

.white {
  color: white;
}

.orange {
  color: #FB7D1E;
}