.container {
  width: 400px;
  background-color: #ffffff;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px;
  grid-gap: 20px;
  grid-auto-flow: row;
}