asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.2
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
drf-yasg==1.20.0
gunicorn==20.1.0
idna==3.3
imageio==2.16.2
imageio-ffmpeg==0.4.6
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.1
MarkupSafe==2.1.1
moviepy==1.0.3
mysqlclient==2.1.0
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
proglog==0.1.9
pycparser==2.21
pydub==0.25.1
pyparsing==3.0.7
pytz==2022.1
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
SoundFile==0.10.3.post1
sqlparse==0.4.2
torch==1.11.0+cpu
torchaudio==0.11.0+cpu
torchvision==0.12.0+cpu
tqdm==4.64.0
typing-extensions==4.1.1
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
