.select {
  font-family: 'NEXON Lv1 Gothic OTF';
  font-size: 0.7rem;
  background-color: #ffffff;
  border: 2px solid #ffae4a;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.inline {
  display: inline;
  margin: 0 0.2rem 0.5rem 0.2rem;
}

.option {
  background: #f3f3f3;
  text-align: center;
}

/* css만으로는 선택 시 bg컬러 바뀌는 거 할 수 없다는 슬픈 소식
.option:checked {
  background: #FFAE4A;
  color: #fff;
  box-shadow: 0 0 10px 100px #FFAE4A inset;
} */