.container {
  position: relative;
  width: 80vw;
  min-width: 216px;
  max-width: 360px;
  height: 80vw;
  min-height: 216px;
  max-height: 360px;
  background-color: white;
  margin: 20px 0;
  touch-action: none;
  overflow: hidden;
}

.character {
  position: absolute;
  width: 60%;
  z-index: 2;
  cursor: grab;
}

.item {
  position: absolute;
  width: 35%;
  z-index: 2;
  cursor: grab;
}

.none {
  width: 0;
  height: 0;
}

/* 
.nightMode {
  background-color: rgb(142, 142, 147) !important;
} */