html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NEXON Lv1 Gothic OTF', sans-serif, Roboto;
  line-height: 1.7;
  background-color: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.disableScroll {
  height: 100%;
  overflow: hidden;
}