.temp {
  width: 180px;
  height: 80px;
  color: white;
  background-color: black;
}

.icon {
  margin: 20px;
  font-size: 20px;
}

.index__container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sharedImages__container {
  height: 100vh;
}

/* 스크롤 막기 */
.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}