.recordPageLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.sampleSentence {
  position: relative;
  margin: 1rem;
}

.sampleSentence > p {
  position: absolute;
  width: 60vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.audioPlayButton {
  margin-bottom: 1rem;
}