.standContainer {
  width: 90%;
  height: 40vw;
  position: relative;
}

.stand {
  width: 100%;
  height: 40vw;
  background-image: url(../public/result/stand.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}