.button {
  padding: 0 20px;
  height: 40px;
  border-style: none;
  border-radius: 9999px;
  font-weight: bold;
  font-family: 'NEXON Lv1 Gothic OTF';
  margin: 10px;
}

.orange {
  background-color: #FB7D1E;
  color: #FFFFFF;
}

.orange:hover {
  background-color: #FFAE4A;
}

.orange:disabled {
  background-color: #9b9999;
}

.grey {
  background-color: #B5B5B5;
  color: #FFFFFF;
}

.grey:hover {
  background-color: #9b9999;
}

.none {
  background-color: #F3F3F3;
  color: #000000;
}