.button {
  padding: 0 20px;
  height: 40px;
  border-style: none;
  border-radius: 9999px;
  background-color: #FB7D1E;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Noto Sans KR';
}

.button:hover {
  background-color: #FFAE4A
}